*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    background: #fff;
    font-family: 'roboto', sans-serif;
}



.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 2.5vw 0 1vw;
}

#toggleBtn {
    font-size: 1.8rem;
    font-weight: 100;
    margin: 0px 0rem 0px 1rem;
    cursor: pointer;
}

.logo{
    height: 30px;
    margin: -7px 30px;
    cursor: pointer;
}

.search-box{
    position: relative;
    max-width: 550px;
    height: 41px;
    display: flex;
    margin: auto;
}

.search-bar{
    width: 50vw;
    height: 100%;
    border: 2px solid #dbdbdb;
    border-radius: 25px 0px 0px 25px;
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: #f0f0f0;
    border: 2px solid #dbdbdb;
    border-radius: 0px 25px 25px 0px;
    padding: 5px 0;
    border-left: none;
    cursor: pointer;
}

.search-btn img{
    height: 100%;
}

.search-box > .search-mic #mic {
    width: 21px;
    cursor: pointer;
}
.search-box > .search-mic {
    width: 27px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1.2rem;
    margin-left: 1rem;
    margin-top: 2.5px;
    background-color:rgba(0, 0, 0, 0.1);
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-options .icon{
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.user-dp{
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.side-bar-wide{
    position: fixed;
    top: 70px;
    left: 0;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-bottom: 2rem;
}
.side-bar-wide:hover {
    overflow-y: scroll;
    scrollbar-width: thin;
}

.links{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover,
.links.active{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.seperator{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.subscrip {
    text-align: left;
    margin-left: 25px;
}

.side-bar-small {
    position: fixed;
    top: 70px;
    left: 0;
    min-width: 90px;
    width: 90px;
    height: calc(100vh - 60px);
    background: #fff;
    padding-bottom: 2rem;
}
.side-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
}
.side-links img {
    width: 30px;
}
.side-links span {
    font-size: 0.75rem;
    text-transform: capitalize;
    color: #242424;
}


.filters{
    position: fixed;
    left: 250px;
    top: 59px;
    width: calc(100% - 250px);
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
}

.filters-wide {
    position: fixed;
    left: 90px;
    top: 59px;
    width: calc(100% - 90px);
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
}

.filter-opts {
    overflow: auto;
    white-space: nowrap;
}

.filter-opts::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 50px;
    background: #f0f0f0;
    border: 1px solid #dbdbdb;
    text-transform: capitalize;
    margin-right: 10px;
    color: #242424;
    font-size: 15px;
    cursor: pointer;

    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #ddd;
    }
}

.filter-options.active{
    color: #fff;
    background: #242424;
}

.arrow {
    border-radius: 50%;
    border: none;
    padding: 0.1rem;
    cursor: pointer;
    background: none;
}
.arrow:hover{
    background: #f0f0f0;
}


.video-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    border-radius: 7px;
}

.video-container-small {
    margin-top: 120px;
    margin-left: 250px;
}

.video-container-wide {
    margin-top: 120px;
    margin-left: 90px;
}

.videoDiv {
    margin-bottom: 10px;
}

.videoDiv .video {
    border-radius: 10px;
    height: 32.5vh;
    width: 100%;
}

.videoDiv .video-wide{
    border-radius: 10px;
    height: 37.6vh;
    width: 100%;
}

.videoDiv .content {
    padding: 10px;
    display: flex;
    text-align: left;
    line-height: 1.5;
}

.videoDiv .content .channel-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.videoDiv .content .title{
    font-size: 0.95rem;
    cursor: pointer;
}

.videoDiv .content .info a {
    text-decoration: none;
    color: #242424;
}

.videoDiv .content .channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: #575757;
    cursor: pointer;
}



@media (max-width: 500px) {
    .filters, 
    .filters-wide,
    .side-bar-wide,
    .side-bar-small,
    .search-box,
    .user-options,
    #toggleBtn {
        display: none;
    }

    .video-container {
        margin-left: 0px;
        grid-template-columns: 1fr;
    }
    
    .videoDiv .video {
        height: 86vh;
    }
}